/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .brand{
    font-family: lobster;
    color: #2ebeff;
    font-size: 60px;
  }

  #log-in {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
  }

  #left-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  #image-container {
    width: 35%;
    align-items: center;
    justify-content: center;
  }
  #left-login img {
    width: 100%;
    border-radius: 50%;
  }

  /* form section */
  #right-login {
    width: 50%;
  }

  .form-container {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 396px;
    padding-bottom: 12px;
    padding-top: 14px;
  }
  #form {
    margin-top: 4%;
  }
  .form-container input {
      width: 364px;
      font-size: 17px;
      line-height: 2;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }

  .btn {
    border: none;
    border-radius: 6px;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 4%;
    margin-bottom: 4%;
}

.btn-blue {
    background-color: #2ebeff;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    width: 364px;
}

.btn-blue:hover {
  background-color: #08b1ff;
}

#sign-up {
  color: green;
}