/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #log-in {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
  }

  #left-login {
    width: 50%;
  }

  #left-login img {
    border-radius: 50%;
  }

  #right-login {
    width: 50%;
  }