/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #log-in {
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
  }

  #left-login {
    width: 50%;
  }

  #left-login img {
    border-radius: 50%;
  }

  /* form section */
  #right-login {
    width: 50%;
  }

  .form-container-content {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 396px;
    padding-bottom: 12px;
    padding-top: 14px;
  }

  .form-container-content input {
      width: 364px;
      font-size: 17px;
      line-height: 2;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }

  .btn {
    border: none;
    border-radius: 6px;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 10px;
}

.btn-blue {
    background-color: #2ebeff;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    width: 364px;
}

#sign-up {
  color: green;
}